doctype html
html
  head
    meta(charset="utf-8")
    title Learn about me
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")

  body
    include header

    .container
      block body
