extends base.pug

block body
  form(method="post", action="/login")
    .form-group
      label(for="username") Username
      input.form-control#username(type="text" name="username"
      placeholder="Username" required autofocus)
    .form-group
      label(for="password") Password
      input.form-control#password(type="password" name="password"
      placeholder="Password" required)
    input.btn.btn-primary.btn-block(type="submit" value="Sign Up")
